.imggrdrect {
  background-image: url("../../img/rectangle_grd/les_deux_alpes.jpg");
  background-size: cover;
}

.h1trouver {
  font-size: 1.5rem;
}

.h2dugite {
  font-size: 1rem;
}

.container_image {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* height: *; */
  margin-top: 50px;
}

.chambre {
  width: 300px;
  height: 300px;
}
