.imgSizeSquare {
  background-image: url(../../img/carre/chambre.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.sleep p i {
  color: var(--navColorBlue);
}
.etiquette {
  margin-top: 2rem;
}
.btnAdmin .btn {
  width: 100%;
  margin-top: 5px;
  background: var(--navColorBlue);
}
.underHeader {
  padding-top: 200px;
}
