/* form */
.form {
  margin-top: 15px;
  /*    margin-top: 100px;*/
  /*   margin-left: 150px;*/
}

.bgsearch {
  position: fixed;
  z-index: 1;
  top: 50px;
  width: 100%;
  height: 150px;
}

/*  changer le nom test card page accueil */
.test2 {
  border: 1px solid green;
  width: 300px;
  height: 300px;
}
.test3 {
  border: 1px solid green;
  width: 500px;
  height: 300px;
}
.test4 {
  border: 1px solid green;
  width: 200px;
  height: 200px;
}
/* ref bg color */
.bg-abdel {
  background-color: #003580;
}
.bg-abdel {
  background-color: #003580;
}
/* footer */
.footer_abdel {
  width: 100%;
  height: 100px;
  background-color: #003580;
}
/* test */
.test {
  border: 1px solid red;
  width: 100%;
  height: 1000px;
}
